<!DOCTYPE html>
<html>
   <head>
      <title>Nexcent</title>
      <link rel="icon" type="images/x-icon" href="{{ url_for('static', filename ='assets/favicon.ico') }}"/>
      <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css') }}"/>
   </head>
   <body>
      <header>
         <div class="navbar">
         <div class="logo">
         <img src="{{ url_for('static', filename='assets/logo.png') }}" alt="logo" width="154" height="24"/>
         </div>      
            <nav>
            <div class="nav-links">   
             <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#service">Service</a></li>
                <li><a href="#feature">Feature</a></li>
                <li><a href="#product">Product</a></li>
                <li><a href="#testimonial">Testimonial</a></li>
                 <li><a href="#faq">FAQ</a></li>
             </ul>
             </div>
             <div class="actions">
             <div class="login">
             <a href="#login">Login</a>
             </div>
             <div class="sign-up-button">
                <button>Sign up</button>
             </div>
             </div>          
            </nav>   
         </div>
      </header>
   </body>
</html>
